

<div class="row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <span class="input-group-text"> <i class="fas fa-search"></i></span>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Username">
        <label for="floatingInputGroup1">Username</label>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-9 text-right">
        <span>Bonjour Hazemm</span>
        </div>

        <div class="col-md-3">
          <a routerLink="/profil">  <img src="favicon.ico" class="rounded-circle"/>
          </a>
        
        </div>
    </div>
  </div>
</div>
