.card-body {
  padding: 1rem; // Ajuster le padding selon les besoins
}

.btn-link {
  text-decoration: none; // Supprimer le soulignement des liens
}

.accordion .card-header {
  background-color: #f8f9fa; // Couleur de fond des en-têtes de carte
  border-bottom: 1px solid #dee2e6; // Bordure inférieure des en-têtes de carte
}
